@font-face {
  font-family: 'iconfont';  /* Project id 2820435 */
  src: url('//at.alicdn.com/t/font_2820435_wxtwn6sm4yh.woff2?t=1632467188547') format('woff2'),
       url('//at.alicdn.com/t/font_2820435_wxtwn6sm4yh.woff?t=1632467188547') format('woff'),
       url('//at.alicdn.com/t/font_2820435_wxtwn6sm4yh.ttf?t=1632467188547') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xl-icon-arrowDown:before {
  content: "\e600";
}
.xl-icon-arrowDoubleDown:before {
  content: "\eca4";
}
.xl-icon-heart:before {
  content: "\e602";
}
.xl-icon-calender:before{
  content: "\e915";
}